<div class="card ecommerce-card">
  <div class="item-img">
    <a [routerLink]="'/apps/e-commerce/details/' + product.id">
      <img [src]="product.image" alt="img-placeholder" />
    </a>
  </div>
  <div class="card-body">
    <div class="item-name">
      <h6 class="mb-0">
        <a [routerLink]="'/apps/e-commerce/details/' + product.id" class="text-body">{{ product.name }}</a>
      </h6>
      <span class="item-company"
        >By <a href="javascript:void(0)" class="company-name">{{ product.brand.name }}</a></span
      >
      <div class="item-rating">
        <div class="rating rating-sm">

          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill"><em class="fa fa-star text-warning"></em></span><em class="fa fa-star-o text-warning cursor"></em>
            </span>
          </ng-template>
          <ngb-rating [(rate)]="product.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
        </div>
      </div>
    </div>
    <span class="text-success mb-1">In Stock: {{product.quantity}}</span>
    <div class="item-quantity">

      <div class="quantity-counter-wrapper">
        <core-touchspin  [product]="product" [numberValue]="product.quantityInCart" [stepValue]="1" [minValue]="1" [maxValue]="10"></core-touchspin>

      </div>
    </div>

  </div>
  <div class="item-options text-center">
    <div class="item-wrapper">
      <div class="item-cost">
        <h4 *ngIf="product.discount" class="item-price">${{(product.price - (product.price * product.discount*0.01)).toFixed(2)}}</h4>
        <!-- <h6 *ngIf="product.discount" class="item-price">${{ (product.price - (product.price * product.discount*0.01)).toFixed(2)}}</h6> -->
        <!-- <h6 [ngStyle]="{'text-decoration' :  product.discount ? 'line-through' : 'none' }"  class="item-price">${{ product.price}}</h6> -->
        <h4 [ngStyle]="product.discount ? {'text-decoration' : 'line-through','font-style' : 'italic',color : 'rgb(187, 184, 184)'} : {'text-decoration' : 'none'}"  class="item-price">${{ product.price}}</h4>
        <p class="card-text shipping" *ngIf="product.hasFreeShipping">
          <span class="badge badge-pill badge-light-success">Free Shipping</span>
        </p>
      </div>
    </div>
    <button type="button" class="btn btn-light mt-1 remove-wishlist" (click)="removeFromCart(product)" rippleEffect>
      <i data-feather="x" class="align-middle mr-25"></i>
      <span>Remove</span>
    </button>
    <button type="button" class="btn btn-primary btn-cart move-cart" (click)="toggleWishlist(product)" rippleEffect>
      <i
        class="align-middle fa mr-25"
        [ngClass]="product.isInWishlist === true ? 'fa-heart text-danger' : 'fa-heart-o'"
      ></i>
      <span class="text-truncate">Add to Wishlist</span>
    </button>
  </div>
</div>
