<div class="content-wrapper">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
      <!-- account setting page -->
      <section id="page-account-settings">
        <div class="row nav-vertical d-flex">
          <div class="col-2 mb-1 mb-md-0">
            <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">
              <li class="nav-item" style="background-color: #FFFF00; border-radius:5px" ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link d-flex py-75"
                  id="account-pill-general"
                  data-toggle="pill"
                  href="#account-vertical-general"
                  aria-expanded="true"
                >
                <div class="col-sm-4">
                      <p class="fa badge fa-lg">
                        <i class="nts" >{{number}}</i>
                        <i data-feather="bookmark" class="font-medium-3 mr-1"></i>
                      </p>
                </div>
                <div class="col-sm-8">
                    <span class="font-weight-bold">Waiting</span>
                </div>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-body">
                        <!-- <div class="border">
                            <button class="btn btn-md btn-outline-primary">
                              <i class="fa fa-user"></i>New Contact
                            </button>
                          </div> -->
                          <h3>Confirm</h3>
                          <div class="d-flex flex-wrap">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">Name</th>
                                  <th scope="col">Created By</th>
                                  <th scope="col">Created Date</th>
                                  <th scope="col">Address</th>
                                  <th scope="col">Phone number</th>
                                  <th scope="col">User Id</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Detail</th>
                                  <th scope="col">Change Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngFor="let order of orders">
                                  <tr  *ngIf="order.statusOrderId == 1">
                                    <td>{{order.name}}</td>
                                    <td>{{order.createdBy}}</td>
                                    <td>{{order.createdDate}}</td>
                                    <td>{{order.shipAddress}}</td>
                                    <td>{{order.shipPhoneNumber}}</td>
                                    <td>{{order.userId}}</td>
                                    <td><div style="background-color: #FFFF00; border-radius: 0px;">Waiting</div></td>
                                    <td>
                                      <button class="btn btn-sm btn-warning" >
                                        <i class="fa fa-detail"></i>Detail
                                      </button>
                                    </td>
                                    <td> 
                                      <button class="btn btn-sm btn-danger" >
                                      <i class="fa fa-status"></i>Change Status
                                      </button>
                                    </td>
                                  </tr>
                                </ng-container>
                              </tbody>
                            </table>
                          </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li class="nav-item" style="background-color: #46e3f1; border-radius:5px" ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link d-flex py-75"
                  id="account-pill-password"
                  data-toggle="pill"
                  href="#account-vertical-password"
                  aria-expanded="false"
                >
                <div class="col-sm-4">
                    <p class="fa badge fa-lg">
                      <i class="nts" >{{number}}</i>
                      <i data-feather="archive" class="font-medium-3 mr-1"></i>
                    </p>
                </div>
                <div class="col-sm-8">
                  <span class="font-weight-bold">Confirmed</span>
                </div>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-body">
                      <!-- <div class="border">
                        <button class="btn btn-md btn-outline-primary">
                          <i class="fa fa-user"></i>New Contact
                        </button>
                      </div> -->
                      <h3>Warehouse</h3>
                      <div class="d-flex flex-wrap">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Created By</th>
                              <th scope="col">Created Date</th>
                              <th scope="col">Address</th>
                              <th scope="col">Phone number</th>
                              <th scope="col">User Id</th>
                              <th scope="col">Status</th>
                              <th scope="col">Detail</th>
                              <th scope="col">Change Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let order of orders">
                              <tr  *ngIf="order.statusOrderId == 2">
                                <td>{{order.name}}</td>
                                <td>{{order.createdBy}}</td>
                                <td>{{order.createdDate}}</td>
                                <td>{{order.shipAddress}}</td>
                                <td>{{order.shipPhoneNumber}}</td>
                                <td>{{order.userId}}</td>
                                <td><div style="background-color:#46e3f1 ; border-radius: 5px">Confirmed</div></td>
                                <td>
                                  <button class="btn btn-sm btn-warning" >
                                    <i class="fa fa-detail"></i>Detail
                                  </button>
                                </td>
                                <td> 
                                  <button class="btn btn-sm btn-danger" >
                                  <i class="fa fa-status"></i>Change Status
                                  </button>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li class="nav-item" style="background-color: #C0C0C0; border-radius:5px" ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link d-flex py-75"
                  id="account-pill-password"
                  data-toggle="pill"
                  href="#account-vertical-password"
                  aria-expanded="false"
                >
                <div class="col-sm-4">
                    <p class="fa badge fa-lg">
                      <i class="nts" >{{number}}</i>
                      <i data-feather="truck" class="font-medium-3 mr-1"></i>
                    </p>
                </div>
                <div class="col-sm-8">
                  <span class="font-weight-bold">Shipping</span>
                </div>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-body">
                      <!-- <div class="border">
                        <button class="btn btn-md btn-outline-primary">
                          <i class="fa fa-user"></i>New Contact
                        </button>
                      </div> -->
                      <h3>Ship</h3>
                      <div class="d-flex flex-wrap">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Created By</th>
                              <th scope="col">Created Date</th>
                              <th scope="col">Address</th>
                              <th scope="col">Phone number</th>
                              <th scope="col">User Id</th>
                              <th scope="col">Status</th>
                              <th scope="col">Detail</th>
                              <th scope="col">Change Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let order of orders">
                              <tr  *ngIf="order.statusOrderId == 3">
                                <td>{{order.name}}</td>
                                <td>{{order.createdBy}}</td>
                                <td>{{order.createdDate}}</td>
                                <td>{{order.shipAddress}}</td>
                                <td>{{order.shipPhoneNumber}}</td>
                                <td>{{order.userId}}</td>
                                <td><div style="background-color: #C0C0C0; border-radius: 5px;">Shipping</div></td>
                                <td>
                                  <button class="btn btn-sm btn-warning" >
                                    <i class="fa fa-detail"></i>Detail
                                  </button>
                                </td>
                                <td> 
                                  <button class="btn btn-sm btn-danger" >
                                  <i class="fa fa-status"></i>Change Status
                                  </button>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li class="nav-item" style="background-color:#2ee32e ; border-radius: 5px;" ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link d-flex py-75"
                  id="account-pill-password"
                  data-toggle="pill"
                  href="#account-vertical-password"
                  aria-expanded="false"
                >
                <div class="col-sm-4">
                    <p class="fa badge fa-lg">
                      <i class="nts" >{{number}}</i>
                      <i data-feather="check-circle" class="font-medium-3 mr-1"></i>
                    </p>

                   

                </div>
                <div class="col-sm-8">
                  <span class="font-weight-bold">Arrived</span>
                </div>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-body">
                      <!-- <div class="border">
                        <button class="btn btn-md btn-outline-primary">
                          <i class="fa fa-user"></i>New Contact
                        </button>
                      </div> -->
                      <h3>Completed</h3>
                      <div class="d-flex flex-wrap">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Created By</th>
                              <th scope="col">Created Date</th>
                              <th scope="col">Address</th>
                              <th scope="col">Phone number</th>
                              <th scope="col">User Id</th>
                              <th scope="col">Status</th>
                              <th scope="col">Detail</th>
                              <th scope="col">Change Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let order of orders">
                              <tr  *ngIf="order.statusOrderId == 4">
                                <td>{{order.name}}</td>
                                <td>{{order.createdBy}}</td>
                                <td>{{order.createdDate}}</td>
                                <td>{{order.shipAddress}}</td>
                                <td>{{order.shipPhoneNumber}}</td>
                                <td>{{order.userId}}</td>
                                <td><div style="background-color: #2ee32e; border-radius: 5px;">Arrived</div></td>
                                <td>
                                  <button class="btn btn-sm btn-warning" >
                                    <i class="fa fa-detail"></i>Detail
                                  </button>
                                </td>
                                <td> 
                                  <button class="btn btn-sm btn-danger" >
                                  <i class="fa fa-status"></i>Change Status
                                  </button>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li class="nav-item" style="background-color: #FF9900; border-radius:5px" ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link d-flex py-75"
                  id="account-pill-password"
                  data-toggle="pill"
                  href="#account-vertical-password"
                  aria-expanded="false"
                >
                <div class="col-sm-4">
                    <!-- <i class="fa badge fa-lg" >
                    <i data-feather="x-octagon" class="font-medium-3 mr-1">{{number}}</i>
                    </i> -->
                    
                    <p class="fa badge fa-lg">
                      <i class="nts" >{{number}}</i>
                      <i data-feather="x-octagon" class="font-medium-3 mr-1" ></i>
                    </p>
                    
                      <!-- <p class="fa badge fa-lg" >{{number}}
                      <span data-feather="x-octagon" class="font-medium-3 mr-1"></span>
                      </p> -->
               
                    <!-- <i class="fas fa-envelope fa-lg"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span> -->

                  </div>
                <div class="col-sm-8">
                  <span class="font-weight-bold">Cancelled</span>
                </div>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-body">
                      <!-- <div class="border">
                        <button class="btn btn-md btn-outline-primary">
                          <i class="fa fa-user"></i>New Contact
                        </button>
                      </div> -->
                      <h3>Caccelled</h3>
                      <div class="d-flex flex-wrap">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Created By</th>
                              <th scope="col">Created Date</th>
                              <th scope="col">Address</th>
                              <th scope="col">Phone number</th>
                              <th scope="col">User Id</th>
                              <th scope="col">Status</th>
                              <th scope="col">Detail</th>
                              <th scope="col">Change Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let order of orders">
                              <tr  *ngIf="order.statusOrderId == 5">
                                <td>{{order.name}}</td>
                                <td>{{order.createdBy}}</td>
                                <td>{{order.createdDate}}</td>
                                <td>{{order.shipAddress}}</td>
                                <td>{{order.shipPhoneNumber}}</td>
                                <td>{{order.userId}}</td>
                                <td><div style="background-color:#FF9900 ; border-radius: 5px;">Cancelled</div></td>
                                <td>
                                  <button class="btn btn-sm btn-warning" >
                                    <i class="fa fa-detail"></i>Detail
                                  </button>
                                </td>
                                <td> 
                                  <button class="btn btn-sm btn-danger" >
                                  <i class="fa fa-status"></i>Change Status
                                  </button>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li class="nav-item" style="background-color: #FFCC33; border-radius:5px" ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link d-flex py-75"
                  id="account-pill-password"
                  data-toggle="pill"
                  href="#account-vertical-password"
                  aria-expanded="false"
                >
                <div class="col-sm-4">
                    <p class="fa badge fa-lg">
                      <i class="nts" >{{number}}</i>
                      <i data-feather="rewind" class="font-medium-3 mr-1"></i>
                    </p>
                </div>
                <div class="col-sm-8">
                  <span class="font-weight-bold">Returns</span>
                </div>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-body">
                      <!-- <div class="border">
                        <button class="btn btn-md btn-outline-primary">
                          <i class="fa fa-user"></i>New Contact
                        </button>
                      </div> -->
                      <h3>Returns</h3>
                      <div class="d-flex flex-wrap">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Created By</th>
                              <th scope="col">Created Date</th>
                              <th scope="col">Address</th>
                              <th scope="col">Phone number</th>
                              <th scope="col">User Id</th>
                              <th scope="col">Status</th>
                              <th scope="col">Detail</th>
                              <th scope="col">Change Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let order of orders">
                              <tr  *ngIf="order.statusOrderId == 6">
                                <td>{{order.name}}</td>
                                <td>{{order.createdBy}}</td>
                                <td>{{order.createdDate}}</td>
                                <td>{{order.shipAddress}}</td>
                                <td>{{order.shipPhoneNumber}}</td>
                                <td>{{order.userId}}</td>
                                <td><div style="background-color: #FFCC33; border-radius:5px ;">Returns</div></td>
                                <td>
                                  <button class="btn btn-sm btn-warning" >
                                    <i class="fa fa-detail"></i>Detail
                                  </button>
                                </td>
                                <td> 
                                  <button class="btn btn-sm btn-danger" >
                                  <i class="fa fa-status"></i>Change Status
                                  </button>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
          </div>
          <div [ngbNavOutlet]="navVertical" class="col-10 md-8"></div>
        </div>
      </section>
      <!--/ account setting page -->
    </div>
  </div>
  
