  <ng-container *ngFor="let orderDetailItem of orderDetails">
   <div style="display: flex; flex-wrap: wrap;" class="item-detail-order">
    <div style="flex: 1;"  class="item-child-detail-order">
      <img src="{{orderDetailItem.product.image}}" width="120px" height="120px">
    </div>
    <div style="flex: 1;" class="item-child-detail-order">
      <p class="name-product">{{orderDetailItem.product.name}}</p>
    </div>
    <div style="display: flex;flex: 1;justify-content: center;" class="item-child-detail-order">
      <p>X{{orderDetailItem.quantity}}</p>
    </div>
    <div style="flex: 1;" class="item-child-detail-order">
      <p  *ngIf="orderDetailItem.discount">${{(orderDetailItem.price * (1 - orderDetailItem.discount*0.01)).toFixed(2)}}</p>
      <p [ngStyle]="orderDetailItem.discount ? {'text-decoration' : 'line-through','font-style' : 'italic',color : 'rgb(187, 184, 184)'} : {'text-decoration' : 'none'}" >${{orderDetailItem.price}}</p>
      <!--
       -->

      <!-- <h4 *ngIf="product.discount" class="item-price">${{(product.price - (product.price * product.discount*0.01)).toFixed(2)}}</h4>
      <h4 [ngStyle]="product.discount ? {'text-decoration' : 'line-through','font-style' : 'italic',color : 'rgb(187, 184, 184)'} : {'text-decoration' : 'none'}"  class="item-price">${{ product.price}}</h4> -->



    </div>
    <div style="flex: 1;" class="item-child-detail-order">
      <!-- ${{ (product.price * (1 - product.discount*0.01)).toFixed(2)}} -->
      <!-- <p>Total : ${{(orderDetailItem.price - (orderDetailItem.price *orderDetailItem.discount*0.01)).toFixed(2) *  orderDetailItem.quantity }}</p> -->
      <p>Total : ${{(orderDetailItem.price * (1 - orderDetailItem.discount*0.01) *orderDetailItem.quantity).toFixed(2) }}</p>
      <!-- this._ecommerceService.totalPriceCart-= Number((product.price * (1 - product.discount*0.01)).toFixed(2))*product.quantityInCart; -->
    </div>
   </div>
  </ng-container>
  <!-- <p class="total-price-order">Total Price : ${{totalPriceOrder}}</p> -->
  <div class="row">
    <div class="col-9"></div>
    <div class="col-3">
      <div *ngIf="voucherDiscount != null" class="row">
        <div class="col-8 text-right">
            Voucher({{voucherDiscount.name.toUpperCase()}}):
        </div>
        <div class="col-4">
            <span class="text-secondary-d1">${{voucherDiscount.discount}}</span>
        </div>
      </div> 
    </div>
  </div>
  <div class="row">
    <div class="col-9"></div>
    <div class="col-3">
      <div class="row" style="font-size:15px ;">
        <div class="col-8 text-right">
            <b>Total Amount:</b>
        </div>
        <div *ngIf="voucherDiscount == null" class="col-4">
            <span class=" text-success-d3 opacity-2"><b>${{totalPriceOrder}}</b></span>
        </div>
        <div *ngIf="voucherDiscount != null" class="col-4">
            <span class=" text-success-d3 opacity-2"><b>${{(totalPriceOrder-voucherDiscount.discount).toFixed(2)}}</b></span>
        </div>
    </div>
    </div>
  </div>