<div class="content-wrapper">
<!-- content-header component -->
<app-content-header [contentHeader]="contentHeader"></app-content-header>
  <!-- <div class="content-body"> -->
    <!-- <div class="bs-stepper checkout-tab-steps" id="checkoutStepper"> -->

      <!-- <div class="bs-stepper-content">
        <div id="step-cart"> -->
          <!-- <div id="place-order" class="list-view product-checkout"> -->
            <div class="checkout-options">
              <section id="ecommerce-searchbar" class="ecommerce-searchbar" style="margin-bottom: 10px;">
                <div class="row mt-1">
                  <div class="col-sm-12">
                    <div class="input-group input-group-merge">
                      <input
                        type="text"
                        class="form-control search-product"
                        id="shop-search"
                        placeholder="Search Id order, Status order, Name product"
                        aria-label="Search..."
                        aria-describedby="shop-search"
                        [(ngModel)]="search"
                        #searchRef="ngModel"
                        (keyup)="SearchMyOrder()"
                      />
                      <!-- -->
                      <div class="input-group-append">
                        <span class="input-group-text"><i data-feather="search" class="text-muted"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <ng-container *ngFor="let listOrderUser of listOrderUsers">
              <div class="card disabled-copy" routerLink="/pages/user-order-detail/{{listOrderUser.id}}">
                  <div class="card-body">
                    <ul class="list-unstyled">
                      <li class="price-detail infor-order disabled-copy">
                        <p>Id Order : {{listOrderUser.id}}</p>
                        <p style="color: #26aa99;"><i data-feather="truck" class="font-medium-3 mr-1"></i>  {{listOrderUser.statusOrder.name}}</p>
                      </li>
                      <li class="detail-order">
                        <app-user-order-management-item
                        [orderDetails]="listOrderUser.orderDetails"
                        [orderVoucherId]="listOrderUser.voucherId"
                        ></app-user-order-management-item>
                      </li>
                    </ul>
                  </div>
                </div>
              </ng-container>
            </div>
          <!-- </div> -->
        <!-- </div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->
</div>
