<div class="content-wrapper">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <form class="validate-form" (ngSubmit)="(newProductForm.form.valid)" #newProductForm="ngForm">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="account-birth-date">Name Product</label>
              <input
                [(ngModel)]="nameProduct"
                type="text"
                class="form-control flatpickr"
                placeholder="Enter Product..."
                id="name-product"
                name="Name Product"
                [class.error]="newProductForm.submitted && nameProductRef.invalid"
                #nameProductRef="ngModel"
                required
              />
            </div>
            <span *ngIf="newProductForm.submitted || nameProductRef.touched" class="invalid-form">
              <small class="form-text text-danger" *ngIf="nameProductRef.errors?.required">Name product is required!</small>
            </span>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="account-birth-date">Category</label>
              <select id="user-role" class="form-control" [(ngModel)]="categoryId" (change)="onChangeCategory($event)" [class.error]="newProductForm.submitted && categoryIdRef.invalid" #categoryIdRef="ngModel" required>
                <option *ngFor="let c of categories" [value] ="c.id">{{c.name}}</option>
              </select>
            <span *ngIf="newProductForm.submitted || categoryIdRef.touched" class="invalid-form">
              <small class="form-text text-danger" *ngIf="categoryIdRef.errors?.required">Category is required!</small>
            </span>
            </div>
            <div  class="container">
              <button type="button" style="margin-left:295px ;" class="btn btn-sm btn-outline-primary" (click)="open(content,'Add Category')" >
                <i data-feather="plus-square" class="mr-25"></i>Add Category</button>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="account-birth-date">Brand</label>
              <select id="user-role" class="form-control" [(ngModel)]="brandId" (change)="onChangeBrand($event)" [class.error]="newProductForm.submitted && brandIdRef.invalid" #brandIdRef="ngModel" required>
                <option *ngFor="let b of brandtemp" [value] ="b.id">{{b.name}}</option>
              </select>
            <span *ngIf="newProductForm.submitted || brandIdRef.touched" class="invalid-form">
              <small class="form-text text-danger" *ngIf="brandIdRef.errors?.required">Brand is required!</small>
            </span>
            </div>
            <div  class="container">
              <button type="button" style="margin-left:295px ;" class="btn btn-sm btn-outline-primary" (click)="open(content,'Add Brand')" >
                <i data-feather="plus-square" class="mr-25"></i>Add Brand</button>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="price">Price</label>
              <input
                type="number"               
                class="form-control"
                name="price"
                id="price"
                placeholder="Enter price..."
                [(ngModel)]="price"
                [class.error]="newProductForm.submitted && priceRef.invalid"
                #priceRef="ngModel"
                [pattern]="pricePtn"
                required
              />
              <span *ngIf="newProductForm.submitted || priceRef.touched" class="invalid-form">
                <small class="form-text text-danger" *ngIf="priceRef.errors?.required">Price is required!</small>
              </span>
              <span *ngIf="newProductForm.submitted || priceRef.touched" class="invalid-form">
                <small class="form-text text-danger" *ngIf="priceRef.errors?.pattern">Price is positive</small>
              </span>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input
                type="number"               
                class="form-control"
                id="quantity"
                placeholder="Enter quantity ..."
                name="quantity"
                [(ngModel)]="quantity"
                [class.error]="newProductForm.submitted && quantityRef.invalid"
                #quantityRef="ngModel"
                [pattern]="quantityPtn"
                required
              />
              <span *ngIf="newProductForm.submitted || quantityRef.touched" class="invalid-form">
                <small class="form-text text-danger" *ngIf="quantityRef.errors?.required">Quantity is required!</small>
              </span>
              <span *ngIf="newProductForm.submitted || quantityRef.touched" class="invalid-form">
                <small class="form-text text-danger" *ngIf="quantityRef.errors?.pattern">Quantity is positive integer.</small>
              </span>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="expire">Expire</label>
              <input
                type="date"               
                class="form-control"
                id="expire"
                name="expire"
                [(ngModel)]="expire"
                [class.error]="newProductForm.submitted && expireRef.invalid"
                #expireRef="ngModel"
                required
              />
              <span *ngIf="newProductForm.submitted || expireRef.touched" class="invalid-form">
                <small class="form-text text-danger" *ngIf="expireRef.errors?.required">Expire is required!</small>
              </span>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="accountTextarea">Description</label>
              <textarea
                class="form-control"
                id="Description"
                name="Description"
                rows="4"
                placeholder="Description here..."
                [(ngModel)]="description"
                [class.error]="newProductForm.submitted && descriptionRef.invalid"
                #descriptionRef="ngModel"
                required
              ></textarea>
              <span *ngIf="newProductForm.submitted || descriptionRef.touched" class="invalid-form">
                <small class="form-text text-danger" *ngIf="descriptionRef.errors?.required">Description is required!</small>
              </span>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="accountTextarea">Image</label>
              <input
                type="file"          
                     
                class="form-control"
                (change)="upload($event)"
                id="file"
                placeholder="Choose Image"
                name="file"
                [(ngModel)]="image"
                [class.error]="newProductForm.submitted && imageRef.invalid"
                #imageRef="ngModel" accept=".png, .jpg, .jpeg" 
                required
              />
              <span *ngIf="newProductForm.submitted || imageRef.touched" class="invalid-form">
                <small class="form-text text-danger" *ngIf="imageRef.errors?.required">Image is required!</small>
              </span>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary mt-1 mr-1" rippleEffect (click)="submit(newProductForm)" >Save changes</button>
            <button type="reset" class="btn btn-outline-secondary mt-1" rippleEffect>Cancel</button>
          </div>
        </div>
      </form>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{typeAction}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #AddCategoryForm="ngForm" class="form-validate" (ngSubmit)="typeAction == 'Add Category' ? AddCategory() : AddBrand()">
      <div class="mb-3">
        <label for="account-Name">Name</label>
        <input
          type="text"
          [(ngModel)]="categoryName"
          class="form-control"
          #categoryNameRef="ngModel"
          id="account-Name"
          name="Name"
          placeholder="Name"
          [class.error]="AddCategoryForm.submitted && categoryNameRef.invalid"
          required
        />
        <span *ngIf="AddCategoryForm.submitted || categoryNameRef.touched" class="invalid-form">
          <small class="form-text text-danger" *ngIf="categoryNameRef.errors?.required">Name is required!</small>
        </span>
      </div>
      <!-- <ngb-alert type={{typealertContact}} [dismissible]="false">
        <div class="alert-body">
          <p>{{ messageContact }}</p>
        </div>
      </ngb-alert> -->
        <div class="modal-footer">
          <button  type="submit" data-dismiss="modal" class="btn btn-info" rippleEffect>Submit</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        </div>
    </form>
  </div>
</ng-template>