<div class="content-wrapper">
  <app-content-header [contentHeader]="contentHeader"></app-content-header>
  <div class="content-body">
    <div class="bs-stepper checkout-tab-steps" id="checkoutStepper">
      <!-- Wizard starts -->
      <div class="bs-stepper-header">
        <div class="step" data-target="#step-cart">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-box">
              <i data-feather="shopping-cart" class="font-medium-3"></i>
            </span>
            <span class="bs-stepper-label">
              <span class="bs-stepper-title">Cart</span>
              <span class="bs-stepper-subtitle">Your Cart Items</span>
            </span>
          </button>
        </div>


      </div>
      <!-- Wizard ends -->

      <div class="bs-stepper-content">
        <!-- Checkout Place order starts -->
        <div id="step-cart" class="content">
          <div id="place-order" class="list-view product-checkout">
            <!-- Checkout Place Order Left starts -->
            <div class="checkout-items">
              <ng-container *ngFor="let product of products">
                <app-ecommerce-checkout-item
                  [product]="product"
                  *ngIf="product.isInCart === true"
                ></app-ecommerce-checkout-item>
              </ng-container>
            </div>
            <!-- Checkout Place Order Left ends -->

            <!-- Checkout Place Order Right starts -->
            <div class="checkout-options">
              <div class="card">
                <div class="card-body">

                  <ul *ngIf="userID" class="list-unstyled">
                    <li class="price-detail">
                      <label class="section-label mb-1">Address Recived</label>
                      <div class="detail-amt"><b>Fullname : </b> {{address.fullNameVar}}</div>
                      <div class="detail-amt"><b>Address : </b> {{address.addressVar}}</div>
                      <div class="detail-amt">
                        <b>Numberphone : </b> {{address.numberVar}}
                      </div>
                    </li>
                    <li>
                   <a [routerLink]="['/pages/user-contact']">Change</a>
                    </li>
                    <hr />
                  </ul>



                  <div class="price-details">
                    <!-- <h6 class="price-title">Price Details</h6> -->
                    <ul class="list-unstyled">
                      <li class="price-detail">
                        <div class="detail-title">Total Price</div>
                        <div class="detail-amt">${{totalPrice}}</div>
                      </li>
                      <li class="price-detail">
                        <div class="detail-title">Delivery Charges</div>
                        <div class="detail-amt discount-amt text-success">Free</div>
                      </li>
                    </ul>
                    <hr />
                    <ul class="list-unstyled">
                      <li class="price-detail">
                        <div class="detail-title detail-total">Total</div>
                        <div class="detail-amt font-weight-bolder">${{totalPrice}}</div>
                      </li>
                    </ul>

                    <button *ngIf="userID"
                    type="button"
                    class="btn btn-block btn-next place-order"
                    (click)="createOrder()"
                    [ngStyle]="disableOrder ? {background : 'rgb(187, 184, 184)', color: '#fff'} : {background : '#5e50ee', color: '#fff'}"

                    [disabled]="disableOrder"
                    rippleEffect
                  >
                    Place Order
                  </button>
                  <a *ngIf="!userID" class="btn btn-block" routerLink="/pages/authentication/register-v2"  style="background : #5e50ee; color: #fff;">Register Account</a>
                  </div>
                </div>
              </div>
              <!-- Checkout Place Order Right ends -->
            </div>
          </div>
          <!-- Checkout Place order Ends -->
        </div>

      </div>
    </div>
  </div>
</div>
