<div class="content-wrapper">
  <app-content-header [contentHeader]="contentHeader"></app-content-header>
  <div class="content-body">
    <div class="bs-stepper checkout-tab-steps" id="checkoutStepper">
      <!-- Wizard starts -->
      <div class="bs-stepper-header">
        <div class="step" data-target="#step-cart">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-box">
              <i data-feather="shopping-cart" class="font-medium-3"></i>
            </span>
            <span class="bs-stepper-label">
              <span class="bs-stepper-title">Cart</span>
              <span class="bs-stepper-subtitle">Your Cart Items</span>
            </span>
          </button>
        </div>


      </div>
      <!-- Wizard ends -->

      <div class="bs-stepper-content">
        <!-- Checkout Place order starts -->
        <div id="step-cart" class="content">
          <div id="place-order" class="list-view product-checkout">
            <!-- Checkout Place Order Left starts -->
            <div class="checkout-items">
              <ng-container *ngFor="let product of products">
                <app-ecommerce-checkout-item
                  [product]="product"
                  *ngIf="product.isInCart === true"
                ></app-ecommerce-checkout-item>
              </ng-container>
            </div>
            <!-- Checkout Place Order Left ends -->

            <!-- Checkout Place Order Right starts -->
            <div class="checkout-options">
              <div class="card">
                <div class="card-body">

                  <ul class="list-unstyled">
                    <li class="price-detail">
                      <label class="section-label mb-1">Address Recived</label>
                      <div class="detail-amt"><b>Fullname : </b> {{address.fullNameVar}}</div>
                      <div class="detail-amt"><b>Address : </b> {{address.addressVar}}</div>
                      <div class="detail-amt">
                        <b>Numberphone : </b> {{address.numberVar}}
                      </div>
                    </li>
                    <li>
                   <a [routerLink]="['/pages/account-settings']">Change</a>
                    </li>
                  </ul>


                  <hr />
                  <div class="price-details">
                    <!-- <h6 class="price-title">Price Details</h6> -->
                    <ul class="list-unstyled">
                      <li class="price-detail">
                        <div class="detail-title">Total Price</div>
                        <div class="detail-amt">${{totalPrice}}</div>
                      </li>
                      <li class="price-detail">
                        <div class="detail-title">Delivery Charges</div>
                        <div class="detail-amt discount-amt text-success">Free</div>
                      </li>
                    </ul>
                    <hr />
                    <ul class="list-unstyled">
                      <li class="price-detail">
                        <div class="detail-title detail-total">Total</div>
                        <div class="detail-amt font-weight-bolder">${{totalPrice}}</div>
                      </li>
                    </ul>

                    <button
                    type="button"
                    class="btn btn-block btn-next place-order"
                    (click)="createOrder()"
                    [ngStyle]="disableOrder ? {background : 'rgb(187, 184, 184)', color: '#fff'} : {background : '#5e50ee', color: '#fff'}"

                    [disabled]="disableOrder"
                    rippleEffect
                  >
                    Place Order
                  </button>
                  </div>
                </div>
              </div>
              <!-- Checkout Place Order Right ends -->
            </div>
          </div>
          <!-- Checkout Place order Ends -->
        </div>
        <!-- Checkout Customer Address Starts -->


        <!-- <div id="step-address" class="content">
          <div class="d-flex flex-wrap">
            <table class="table table-striped">

              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Address</th>
                  <th scope="col">Phone number</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let contact of contacts">
                  <td>{{contact.fullName}}</td>
                  <td>{{contact.address}}</td>
                  <td>{{contact.phoneNumber}}</td>
                </tr>
              </tbody>
            </table>
          </div>



          <form
            id="checkout-address"
            class="list-view product-checkout"
            (ngSubmit)="(addressForm.form.valid)"
            #addressForm="ngForm"
          >

            <div class="card">
              <div class="card-header flex-column align-items-start">
                <h4 class="card-title">Add New Address</h4>
                <p class="card-text text-muted mt-25">
                  Be sure to check "Deliver to this address" when you have finished
                </p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-2">
                      <label for="checkout-name">Full Name:</label>
                      <input
                        type="text"
                        id="checkout-name"
                        class="form-control"
                        [class.error]="addressForm.submitted && fullNameRef.invalid"
                        name="fullname"
                        placeholder="Please enter fullname"
                        [(ngModel)]="address.fullNameVar"
                        #fullNameRef="ngModel"
                        required
                      />
                      <span *ngIf="addressForm.submitted && fullNameRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="fullNameRef.errors.required"
                          >This field is required!</small
                        >
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-2">
                      <label for="checkout-number">Mobile Number:</label>
                      <input
                        type="text"
                        id="checkout-number"
                        class="form-control"
                        [class.error]="addressForm.submitted && numberRef.invalid"
                        name="mnumber"
                        placeholder="Please enter phonenumber"
                        [(ngModel)]="address.numberVar"
                        #numberRef="ngModel"
                        required
                      />
                      <span *ngIf="addressForm.submitted && numberRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="numberRef.errors.required"
                          >This field is required!</small
                        >
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-2">
                      <label for="checkout-apt-number">Address:</label>
                      <input
                        type="text"
                        id="checkout-apt-number"
                        class="form-control"
                        [class.error]="addressForm.submitted && flatRef.invalid"
                        name="apt-number"
                        placeholder="Please enter address"
                        [(ngModel)]="address.addressVar"
                        #flatRef="ngModel"
                        required
                      />
                      <span *ngIf="addressForm.submitted && flatRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="flatRef.errors.required"
                          >This field is required!</small
                        >
                      </span>
                    </div>
                  </div>

                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-primary btn-next delivery-address"
                      (click)="validateNextStep(addressForm)"
                      rippleEffect
                    >
                      Save And Deliver Here
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="customer-card">
              <div class="card">

                <div class="card-body actions">

                  <p class="card-text">{{address.fullNameVar}}</p>
                  <p class="card-text">{{address.numberVar}}</p>
                  <p class="card-text">{{address.addressVar}}</p>
                  <button
                    type="button"
                    class="btn btn-primary btn-block btn-next delivery-address mt-2"
                    (click)="nextStep()"
                    rippleEffect
                  >
                    Deliver To This Address
                  </button>
                </div>
              </div>
            </div>

          </form>
        </div> -->




      </div>
    </div>
  </div>
</div>
<!-- <h3>{{ name}}</h3>

 <div class="container">
 <span *ngFor="let item of counts;let i = index">
   <span class="circle-desc" [class.circle-desc-active]="orderStatus == item">{{ item }}</span>
   <span class="circles" [class.active]="orderStatus == item"></span>
   <span class="bar" *ngIf="(i != counts.length-1)"></span>
 </span>
 </div> -->