<div class="content-wrapper">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- account setting page -->
    <section id="page-account-settings">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-general"
                data-toggle="pill"
                href="#account-vertical-general"
                aria-expanded="true"
              >
                <i data-feather="user" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">General</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <!-- header media -->
                    <!-- <div class="row">
                    <div class="media">
                      <a href="javascript:void(0);" class="mr-25">
                        <img
                        [src]="data.avatar"
                        class="rounded mr-50"
                        alt="profile image"
                        height="130"
                        width="130"
                      />
                      </a>


                      <div class="col-12 d-flex mt-1 px-0">
                        <label class="btn btn-primary mr-75 mb-0" for="change-picture">
                          <span class="d-none d-sm-block">Choose file</span>

                          <input
                            class="form-control"
                            type="file"
                            id="change-picture"
                            (change)="onSelectFileAvatar($event)"
                            hidden
                            accept="image/png, image/jpeg, image/jpg"
                          />
                          <span class="d-block d-sm-none">
                            <i class="mr-0" data-feather="edit"></i>
                          </span>
                        </label>
                        <button class="btn btn-outline-secondary d-none d-sm-block"  (click)="onUploadAvatar()" rippleEffect>Upload</button>
                        <button class="btn btn-outline-secondary d-block d-sm-none">
                          <i class="mr-0" data-feather="trash-2"></i>
                        </button>

                      </div>
                      <ngb-alert type={{typeAlertUpload}} [dismissible]="false">
                        <div class="alert-body">

                          <p>sdfsfsdf</p>
                        </div>
                      </ngb-alert>
                    </div>
                  </div> -->

                  <div class="media mb-2">
                    <!-- <img
                    class="user-avatar users-avatar-shadow rounded mr-2 my-25 cursor-pointer"
                    [src]="rows.avatar"
                    height="90"
                    width="90"
                    alt="User avatar"
                  /> -->
                    <div *ngIf="data.user.avatar.length > 0; else customAvatar">
                      <img
                        class="user-avatar users-avatar-shadow rounded mr-2 my-25 cursor-pointer"
                        [src]="data.user.avatar"
                        height="150"
                        width="150"
                        alt="User avatar"
                      />
                    </div>
                    <ng-template #customAvatar>
                      <div
                        class="mr-1 ml-0"
                        [ngClass]="{
                          'bg-light-success': data.user.status == 'Active',
                          'bg-light-secondary': data.user.status == 'Inactive'
                        }"
                      >
                        <div class="rounded p-3">{{ data.user.userName | initials }}</div>

                      </div>
                    </ng-template>
                    <div class="media-body mt-50">
                      <h4>{{ data.user.userName }}</h4>
                      <div class="col-12 d-flex mt-1 px-0">
                        <label class="btn btn-primary mr-75 mb-0" for="change-picture">
                          <span class="d-none d-sm-block">Choose file</span>
                          <input
                            class="form-control"
                            type="file"
                            id="change-picture"
                            (change)="onSelectFileAvatar($event)"
                            hidden
                            accept="image/png, image/jpeg, image/jpg"
                          />
                          <span class="d-block d-sm-none">
                            <i class="mr-0" data-feather="edit"></i>
                          </span>
                        </label>
                        <button class="btn btn-outline-secondary d-none d-sm-block"  (click)="onUploadAvatar()" rippleEffect>Upload</button>
                        <button class="btn btn-outline-secondary d-block d-sm-none">
                          <i class="mr-0" data-feather="trash-2"></i>
                        </button>
                      </div>
                      <br>

                      <ngb-alert type={{typeAlertUploadSettings}} [dismissible]="false">
                        <div class="alert-body">
                          <p>{{ messageUploadSettings }}</p>
                        </div>
                      </ngb-alert>
                    </div>
                  </div>



                    <!--/ header media -->

                    <!-- form -->
                    <form class="form-validate"
                    [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()"
                    >
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-username">LastName</label>
                            <input
                              type="text"
                              [(ngModel)]="data.user.lastName"
                              class="form-control"
                              id="account-lastname"
                              name="username"
                              placeholder="Lastname"
                              formControlName="lastname"
                            />
                          </div>
                          <div *ngIf="!lastName?.valid && (lastName?.dirty
                          || lastName?.touched)"
                            class="alert">
                          <div [hidden]="!lastName.errors?.required">  <p style="color: red">Last name is required</p></div>
                          <!-- <div [hidden]="!lastName.errors?.minlength">  <p style="color: red">Minleng is 5</p></div> -->
                        </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-name">FirstName</label>
                            <input
                              type="text"
                              [(ngModel)]="data.user.firstName"
                              class="form-control"
                              id="account-name"
                              name="name"
                              placeholder="Name"
                              formControlName="firstname"
                            />
                          </div>
                          <div *ngIf="!firstName?.valid && (firstName?.dirty
                          || firstName?.touched)"
                            class="alert">
                          <div [hidden]="!firstName.errors?.required"><p style="color: red">First name is required</p></div>
                        </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-e-mail">E-mail</label>
                            <input
                              type="email"
                              [(ngModel)]="data.user.email"
                              class="form-control"
                              id="account-e-mail"
                              name="email"
                              placeholder="Email"
                              formControlName="email"
                              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                            />
                            <!-- <span *ngIf="submitted && this.loginForm.controls.errors" class="invalid-form">
                              <small class="form-text text-danger" *ngIf="emailRef.errors.required">Email is required!</small>
                            </span> -->

                            <div *ngIf="!email?.valid && (email?.dirty
                            || email?.touched)"
                              class="alert">
                            <div [hidden]="!email.errors?.required"><p style="color: red">Email is required</p></div>
                            <div [hidden]="!email.errors?.pattern"><p style="color: red">Invalid email</p></div>
                          </div>

                            <!-- <span *ngIf="emailRef.errors && (emailRef.touched || emailRef.dirty)" class="invalid-form">
                              <small class="form-text text-danger" [hidden]="!emailRef.errors?.pattern"> Invalid email </small>
                            </span> -->

                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-company">Phone number</label>
                            <input
                              type="text"
                              [(ngModel)]="data.user.phoneNumber"
                              class="form-control"
                              id="account-company"
                              name="company"
                              placeholder="Phone numbser"
                              formControlName="phonenumber"
                              pattern="[0-9 ]{10}"
                            />
                            <div *ngIf="!phoneNumber?.valid && (phoneNumber?.dirty
                            || phoneNumber?.touched)"
                              class="alert">
                            <div [hidden]="!phoneNumber.errors?.required"><p style="color: red">Phone number is required</p></div>
                            <div [hidden]="!phoneNumber.errors?.pattern"><p style="color: red">Invalid phone number</p></div>
                          </div>
                          </div>
                        </div>
                        <!-- <div class="col-12 mt-75">
                          <div class="alert alert-warning mb-50" role="alert">
                            <h4 class="alert-heading">Your email is not confirmed. Please check your inbox.</h4>
                            <div class="alert-body">
                              <a href="javascript: void(0);" class="alert-link">Resend confirmation</a>
                            </div>
                          </div>
                        </div> -->

                        <ngb-alert type={{typealert}} [dismissible]="false">
                          <div class="alert-body">
                            <p>{{ message }}</p>
                          </div>
                        </ngb-alert>


                        <div class="col-12">
                          <button type="submit" [disabled]="!updateProfileForm.valid" class="btn btn-primary mt-2 mr-1" rippleEffect>Save Changes</button>
                          <button type="reset" class="btn btn-outline-secondary mt-2" rippleEffect>
                            <!-- <a>Cancel</a> -->
                            <a routerLink="/apps/e-commerce/shop/" class="font-medium-1 d-block"
                            >Cancel</a
                          >
                          </button>
                        </div>
                      </div>
                    </form>
                    <!--/ form -->
                  </div>
                </div>
              </ng-template>
            </li>
            <!-- <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-password"
                data-toggle="pill"
                href="#account-vertical-password"
                aria-expanded="false"
              >
                <i data-feather="lock" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Change Password</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <form class="validate-form">
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-old-password">Old Password</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input
                                [type]="passwordTextTypeOld ? 'text' : 'password'"
                                class="form-control"
                                id="account-old-password"
                                name="password"
                                placeholder="Old Password"
                              />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                  ><i
                                    class="feather font-small-4"
                                    [ngClass]="{
                                      'icon-eye-off': passwordTextTypeOld,
                                      'icon-eye': !passwordTextTypeOld
                                    }"
                                    (click)="togglePasswordTextTypeOld()"
                                  ></i
                                ></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-new-password">New Password</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input
                                [type]="passwordTextTypeNew ? 'text' : 'password'"
                                id="account-new-password"
                                name="new-password"
                                class="form-control"
                                placeholder="New Password"
                              />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                  ><i
                                    class="feather font-small-4"
                                    [ngClass]="{
                                      'icon-eye-off': passwordTextTypeNew,
                                      'icon-eye': !passwordTextTypeNew
                                    }"
                                    (click)="togglePasswordTextTypeNew()"
                                  ></i
                                ></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-retype-new-password">Retype New Password</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input
                                [type]="passwordTextTypeRetype ? 'text' : 'password'"
                                class="form-control"
                                id="account-retype-new-password"
                                name="confirm-new-password"
                                placeholder="New Password"
                              />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                  ><i
                                    class="feather font-small-4"
                                    [ngClass]="{
                                      'icon-eye-off': passwordTextTypeRetype,
                                      'icon-eye': !passwordTextTypeRetype
                                    }"
                                    (click)="togglePasswordTextTypeRetype()"
                                  ></i
                                ></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary mr-1 mt-1" rippleEffect>Save changes</button>
                          <button type="reset" class="btn btn-outline-secondary mt-1" rippleEffect>Cancel</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </ng-template>
            </li> -->

          </ul>
        </div>
        <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
      </div>
    </section>
    <!--/ account setting page -->
  </div>
</div>
